:root {
  --color-blackinside: rgb(94, 94, 204);
  --color-buttonHead: rgb(113, 113, 223);
  --border-section: solid 4px black;
  --border-radius: 20px;
}
* {
  background-color: lightblue;
  box-sizing: border-box;
}
body {
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(242, 244, 242);
  margin: 20px;
}
.head-layout {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 170px;
  background-color: var(--color-blackinside);
  border-radius: var(--border-radius);
  border: var(--border-section);
}
h1 {
  display: flex;
  align-self: center;
  background-color: rgb(113, 113, 223);
  padding: 20px;
  font-size: 70px;
  border: var(--border-section);
  border-radius: var(--border-radius);
}

.question {
  border-radius: 20px;
  width: 100%;
  height: 420px;
  background-color: var(--color-blackinside);
  border: var(--border-section);
  margin-top: 10px;
}

.questdisp {
  background-color: var(--color-blackinside);
  font-size: 16px;
  display: flex;
  justify-content: center;
}
a {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: var(--color-blackinside);
  text-decoration: none;
}
.margin {
    height: 100px;
}

.button {
  font-size: 30px;
  color: white;
  margin: 10px;
  background-color: var(--color-buttonHead);
  border: var(--border-section);
  border-radius: var(--border-radius);
}

.questinside {
  background-color: var(--color-blackinside);
  height: 300px;
}
.questbutton {
  margin: 30px;
  display: flex;
  font-size: 40px;
  flex-flow: wrap;
  background-color: lightblue;
  border-radius: var(--border-radius);
}
ul {
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    background-color: var(--color-blackinside);
}

.spiced {
    font-size: 80px;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 96%;
  height: 120px;
  margin-top: 50px;
  background-color: var(--color-blackinside);
  border: var(--border-section);
}
.afooter {
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 80px;
    background-color: var(--color-blackinside);
}

.imgsection {
   display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bookmark {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    border-radius: var(--border-radius);
    border: var(--border-section);
}