:root {
  --color-blackinside: rgb(94, 94, 204);
  --color-buttonHead: rgb(113, 113, 223);
  --border-section: solid 4px black;
  --border-radius: 20px;
}
* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(242, 244, 242);
  margin: 0 20px 20px 20px;
}
.dark{
  background-color:var(--color-blackinside);
  color: white;
}
.head-layout {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 170px;
  background-color: var(--color-blackinside);
  border-radius: var(--border-radius);
  border: var(--border-section);
}
.h1 {
  display: flex;
  align-self: center;
  background-color: rgb(113, 113, 223);
  padding: 20px;
  font-size: 70px;
  border: var(--border-section);
  border-radius: var(--border-radius);
}

.question {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 420px;
  background-color: var(--color-blackinside);
  border: var(--border-section);
  margin-bottom: 10px;
}
.insidequest{
  display: flex;
  justify-content: center;

}

.bookmark {
   position: absolute;
   top: -20px;
   right: 0;
    margin-top: 20px;
    border-radius: var(--border-radius);
    border: var(--border-section);
}
.questdisp {
  background-color: var(--color-blackinside);
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.questbutton {
  display: flex;
  justify-content: center;
  margin: 40px;
  font-size: 35px;
  background-color: lightblue;
  text-decoration: none;
  border-radius: var(--border-radius);
}
a {
  display: flex;
  justify-content: center;
  background-color: var(--color-blackinside);
  text-decoration: none;
}
.margin {
    height: 100px;
}

.button {
  
  font-size: 30px;
  color: white;
  margin: 10px;
  background-color: var(--color-buttonHead);
  border: var(--border-section);
  border-radius: var(--border-radius);
}
.ansbutton {
  position: absolute;
  bottom: 70px;
  right: 50%;
  font-size: 20px;
  background-color: lightblue;
  border-radius: var(--border-radius);
}

.questinside {
  background-color: var(--color-blackinside);
  height: 300px;
}
ul {
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    background-color: var(--color-blackinside);
}

.spiced {
    font-size: 80px;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 96%;
  height: 120px;
  margin-top: 50px;
  background-color:whitesmoke ;
  border: var(--border-section);
  border-radius: var(--border-radius);
}
.afooter {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 80px;
    height: 80px;
    background-color:rgb(14, 13, 13) ;
    border: var(--border-section);
    border-radius: var(--border-radius);
    padding: -5px;
    margin: 30px;
}
.imgfooter {
  border-radius: var(--border-radius);
  background-color: azure;
}

.imgsection {
   display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.counter {
  display: flex;
  width: max-content;
  height: 50px;
  padding: 20px;
  background-color: var(--color-blackinside);
  border-radius: var(--border-radius);
  border: var(--border-section);

}

#answer, #answer2,#answer3, #answer4 ,#right, #right2 , #right3 , #right4 {
background-color: var(--color-blackinside);
font-size: 30px;
}

.switch {
  position: relative;
  bottom: 14px;
  left: 16px;
  width: 60px;
  height: 34px;
  background-color:var(--color-blackinside);
  border-radius: var(--border-radius);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--color-blackinside);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-buttonHead);
}

input:focus + .slider {
  box-shadow: 0 0 1px --color-buttonHead;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and(max-width: 600px) {
  body{
  width: 50%;
}
}